*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Georgia, Serif;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    /* font-family: "Times New Roman", Georgia, Serif; */
}
.navsecond{
    display: flex;
}
.navsecond li{
    display: inline;
    padding: 1rem;
    letter-spacing: 0.3rem;
}
.navfirst li{
    padding: 0.2rem;
    letter-spacing: 0.3rem;
    word-spacing: 0.7rem;
}
ul{
    list-style-type: none;
}
li:hover{
    background-color: rgba(209, 201, 201, 0.945);
}
.image1{
    width:aut0;
    overflow: hidden;
    height: 36rem;
}
.image-text{
    display: flex;
    margin-top: 4rem;
}
.img-2{
    width: 75%;   
    margin-left: 4rem;
    border-radius: 0.7%;
}
.text1{
    width: 40%;
    line-height: 2rem;
    margin-left: 0rem;
}
.text1 h2{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.4rem;
    color: rgb(41, 40, 40);

}
.text1 h4{
    font-size: 1rem;
    font-family: "Playfair Display";
    letter-spacing: 0.3rem;
    font-size: 1rem;
    margin-top: 4rem;
}
.text1 h6{
    font-size: rem;
    color: black;
    /* font-family: "Times New Roman", Georgia, Serif; */
}
.end-text{
    color: gray;
}
span{
    background-color: rgb(233, 222, 222);
    padding: 0.5rem;
}
hr{
    margin-left: 1.9rem;
    margin-right: 2rem;
}
.imagetext{
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}
.texttype h3{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: "Playfair Display";
}
.texttype h5{
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    margin-top: 3rem;
    color: rgb(56, 53, 53);
}
.texttype p{
    font-size: 1rem;
    color: gray;
}
.footer{
    margin-top: 6rem;
    margin-left: 3rem;
}
.contact{
    font-size: 3rem;
    letter-spacing: 0.5rem;
}
.footer h3{
    color: rgb(108, 169, 197);
    margin-top: 2rem;
}
.lastpara{
    margin-top: 2rem;
}
input[type="text"],input[type="number"]{
    width: 94%;
    padding: 1.3rem;
    margin-left: 2.4rem;
    font-size: 1rem;
    border:white
}
input[type="text"],input[type="number"]:hover{
    border: black;
}
input[type="date"]{
    padding: 1.3rem ;
    margin-left: 2.4rem;
    width: 94%;
    font-size: 1rem;
    border: white;
}
input[type="date"]:hover{
    border: black;
}
input[type="button"]{
    padding: 1.3rem;
    margin-left: 2.4rem;
    background-color: rgba(196, 187, 187, 0.904);
    font-size: 1rem;
    border: none;
}
input[type=button]:hover{
    background-color: rgb(80, 76, 76);
}
.form{
    margin-top: 3rem;
    margin-left: 4rem;
}
.lastfooter{
    width: auto;
    height: 6rem;
    background-color: rgb(202, 197, 197);
}
.lastfooter p{
    padding-top: 2.6rem;
}
u:hover{
    color: green;
}


/* --------------------Responsive-------------------------- */

